<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639282444812-bljf0tsmvr3j19cr2mar53a9nounbiea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639282444812-bljf0tsmvr3j19cr2mar53a9nounbiea</string>
	<key>API_KEY</key>
	<string>AIzaSyB6-ueSE_vbhmkIXEz8EcVM3At966hQwW8</string>
	<key>GCM_SENDER_ID</key>
	<string>639282444812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodscan.foodscan</string>
	<key>PROJECT_ID</key>
	<string>foodscan-461ce</string>
	<key>STORAGE_BUCKET</key>
	<string>foodscan-461ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639282444812:ios:0e74a4f06b0841618c8c29</string>
	<key>DATABASE_URL</key>
	<string>https://foodscan-461ce-default-rtdb.firebaseio.com</string>
</dict>
</plist>